@charset "utf-8";
name {
    color: #000000;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-align: center
}
a {
	color: #000000
}